<a href="https://colab.research.google.com/github/marciocardoso123/DATASCIENCE-/blob/main/ScrapperComPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [2]:
header = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36' }
url = 'https://br.investing.com/equities/brazil'
request = requests.get(url,headers=header)

df = pd.read_html(request.text)

In [3]:
df

[    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
 0          NaN             Rumo ON    1587    1603    1562        26  +1,67%
 1          NaN       Alpargatas PN    2046    2117    1978       -28  -1,35%
 2          NaN            Ambev ON    1402    1429    1383       -12  -0,85%
 3          NaN  Banco do Brasil ON    3700    3702    3612       130  +3,64%
 4          NaN         Bradesco ON    1629    1637    1609        31  +1,94%
 ..         ...                 ...     ...     ...     ...       ...     ...
 87         NaN     3R Petroleum ON    4256    4337    4150        73  +1,75%
 88         NaN        Rede D'Or ON    3404    3417    3288       102  +3,09%
 89         NaN    CSN Mineração ON     461     470     455        16  +3,60%
 90         NaN            Assaí ON    1596    1608    1549        51  +3,30%
 91         NaN        Iguatemi Unt    2075    2136    2052        -3  -0,14%

       Vol.      Hora  Unnamed: 9
 0    9,23M  17:07:30         NaN
 1    4,67M  17:07:40         NaN
 2   24,50M  17:07:00         NaN
 3   25,57M  17:07:00         NaN
 4   11,51M  17:07:43         NaN
 ..     ...       ...         ...
 87   2,23M  17:07:00         NaN
 88   3,88M  17:07:00         NaN
 89   9,75M  17:07:00         NaN
 90   8,14M  17:07:00         NaN
 91   2,91M  17:07:00         NaN

 [92 rows x 10 columns],
     0                 1         2         3       4   5   6
 0 NaN          Ibovespa   108.488     1.483  +1,39% NaN NaN
 1 NaN  Ibovespa Futuros   109.400     1.555  +1,44% NaN NaN
 2 NaN            US 500   3.904,3    35.000  +0,09% NaN NaN
 3 NaN             US 30  31.281,0   279.000  +0,09% NaN NaN
 4 NaN       S&P 500 VIX      2943     8.000  +0,27% NaN NaN
 5 NaN    Bitcoin Futuro  29.075,0 -8700.000  -2,91% NaN NaN
 6 NaN      Índice Dólar    103015   264.000  +0,26% NaN NaN,
     0                1         2     3       4   5   6
 0 NaN   Petróleo Brent     11291    87  +0,78% NaN NaN
 1 NaN     Petróleo WTI     11035    46  +0,42% NaN NaN
 2 NaN  Café Contrato C     21648  -222  -1,02% NaN NaN
 3 NaN             Soja  1.705,75  1525  +0,90% NaN NaN
 4 NaN         Cacau NY  2.411,00 -4600  -1,87% NaN NaN
 5 NaN             Ouro  1.845,10   390  +0,21% NaN NaN
 6 NaN   Açúcar NY nº11      1997    20  +1,01% NaN NaN,
     0        1      2    3       4   5   6
 0 NaN  USD/BRL  48801 -508  -1,03% NaN NaN
 1 NaN  EUR/BRL  51549 -663  -1,27% NaN NaN
 2 NaN  EUR/USD  10562  -24  -0,23% NaN NaN
 3 NaN  USD/JPY  12786    7  +0,05% NaN NaN
 4 NaN  GBP/USD  12489   29  +0,23% NaN NaN
 5 NaN  GBP/BRL  60937 -512  -0,83% NaN NaN
 6 NaN  CAD/BRL  38009 -436  -1,13% NaN NaN,
     0                  1     2    3       4   5   6
 0 NaN       Petrobras PN  3483   66  +1,93% NaN NaN
 1 NaN            Vale ON  8126  141  +1,77% NaN NaN
 2 NaN             Via SA   300    1  +0,33% NaN NaN
 3 NaN  Magazine Luiza ON   367   -6  -1,61% NaN NaN
 4 NaN      IRB Brasil ON   260   16  +6,56% NaN NaN
 5 NaN              Oi ON    67    1  +1,52% NaN NaN
 6 NaN             Weg ON  2599   46  +1,80% NaN NaN,
    Unnamed: 0                Nome  Último    Var%    Vol.  Unnamed: 5  \
 0         NaN        Petrobras PN    3483  +1,93%  77,94M         NaN
 1         NaN               B3 ON    1204  +1,95%  70,04M         NaN
 2         NaN             Vale ON    8126  +1,77%  38,20M         NaN
 3         NaN         Bradesco PN    1967  +1,34%  37,96M         NaN
 4         NaN    Itau Unibanco PN    2513  +1,25%  37,77M         NaN
 5         NaN         Petrorio ON    2548  +2,45%  27,41M         NaN
 6         NaN  Banco do Brasil ON    3700  +3,64%  25,57M         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,
    Unnamed: 0                             Nome  Último     Var%    Vol.  \
 0         NaN  FII Kinea II Real Estate Equity      90  +28,57%  16,40K
 1         NaN           Getnet Adquirencia Prf     221  +24,16%   2,20M
 2         NaN    Getnet Adquirencia e Servicos     222  +22,65%   2,12M
 3         NaN           Getnet Adquirencia Unt     447  +22,47%   7,44M
 4         NaN             Textil Renauxview PN     589  +17,80%   4,80K
 5         NaN                       Sansuy PNB     349  +15,18%   0,50K
 6         NaN                      Hercules PN     638  +10,00%   1,50K

    Unnamed: 5  Unnamed: 6
 0         NaN         NaN
 1         NaN         NaN
 2         NaN         NaN
 3         NaN         NaN
 4         NaN         NaN
 5         NaN         NaN
 6         NaN         NaN  ,
    Unnamed: 0                           Nome  Último     Var%    Vol.  \
 0         NaN               Ryanair Holdings    5225  -34,23%   0,06K
 1         NaN                Ross Stores BDR   17470  -23,79%  21,08K
 2         NaN  Hewlett Packard Enterprise Co    6699  -18,80%   0,10K
 3         NaN                   Under Armour    4048  -18,06%   0,30K
 4         NaN                        Gap BDR    5279  -15,18%   0,71K
 5         NaN                     Deere & Co   76201  -14,63%   1,00K
 6         NaN               Norfolk Southern   27721  -14,38%   1,00K

    Unnamed: 5  Unnamed: 6
 0         NaN         NaN
 1         NaN         NaN
 2         NaN         NaN
 3         NaN         NaN
 4         NaN         NaN
 5         NaN         NaN
 6         NaN         NaN  ]

In [5]:
for i , tabela in enumerate(df):
  print('-----------------------------')
  print(i)
  print(tabela)

-----------------------------
0
    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
0          NaN             Rumo ON    1587    1603    1562        26  +1,67%
1          NaN       Alpargatas PN    2046    2117    1978       -28  -1,35%
2          NaN            Ambev ON    1402    1429    1383       -12  -0,85%
3          NaN  Banco do Brasil ON    3700    3702    3612       130  +3,64%
4          NaN         Bradesco ON    1629    1637    1609        31  +1,94%
..         ...                 ...     ...     ...     ...       ...     ...
87         NaN     3R Petroleum ON    4256    4337    4150        73  +1,75%
88         NaN        Rede D'Or ON    3404    3417    3288       102  +3,09%
89         NaN    CSN Mineração ON     461     470     455        16  +3,60%
90         NaN            Assaí ON    1596    1608    1549        51  +3,30%
91         NaN        Iguatemi Unt    2075    2136    2052        -3  -0,14%

      Vol.      Hora  Unnamed: 9
0    9,23M  17:07:30         NaN
1    4,67M  17:07:40         NaN
2   24,50M  17:07:00         NaN
3   25,57M  17:07:00         NaN
4   11,51M  17:07:43         NaN
..     ...       ...         ...
87   2,23M  17:07:00         NaN
88   3,88M  17:07:00         NaN
89   9,75M  17:07:00         NaN
90   8,14M  17:07:00         NaN
91   2,91M  17:07:00         NaN

[92 rows x 10 columns]
-----------------------------
1
    0                 1         2         3       4   5   6
0 NaN          Ibovespa   108.488     1.483  +1,39% NaN NaN
1 NaN  Ibovespa Futuros   109.400     1.555  +1,44% NaN NaN
2 NaN            US 500   3.904,3    35.000  +0,09% NaN NaN
3 NaN             US 30  31.281,0   279.000  +0,09% NaN NaN
4 NaN       S&P 500 VIX      2943     8.000  +0,27% NaN NaN
5 NaN    Bitcoin Futuro  29.075,0 -8700.000  -2,91% NaN NaN
6 NaN      Índice Dólar    103015   264.000  +0,26% NaN NaN
-----------------------------
2
    0                1         2     3       4   5   6
0 NaN   Petróleo Brent     11291    87  +0,78% NaN NaN
1 NaN     Petróleo WTI     11035    46  +0,42% NaN NaN
2 NaN  Café Contrato C     21648  -222  -1,02% NaN NaN
3 NaN             Soja  1.705,75  1525  +0,90% NaN NaN
4 NaN         Cacau NY  2.411,00 -4600  -1,87% NaN NaN
5 NaN             Ouro  1.845,10   390  +0,21% NaN NaN
6 NaN   Açúcar NY nº11      1997    20  +1,01% NaN NaN
-----------------------------
3
    0        1      2    3       4   5   6
0 NaN  USD/BRL  48801 -508  -1,03% NaN NaN
1 NaN  EUR/BRL  51549 -663  -1,27% NaN NaN
2 NaN  EUR/USD  10562  -24  -0,23% NaN NaN
3 NaN  USD/JPY  12786    7  +0,05% NaN NaN
4 NaN  GBP/USD  12489   29  +0,23% NaN NaN
5 NaN  GBP/BRL  60937 -512  -0,83% NaN NaN
6 NaN  CAD/BRL  38009 -436  -1,13% NaN NaN
-----------------------------
4
    0                  1     2    3       4   5   6
0 NaN       Petrobras PN  3483   66  +1,93% NaN NaN
1 NaN            Vale ON  8126  141  +1,77% NaN NaN
2 NaN             Via SA   300    1  +0,33% NaN NaN
3 NaN  Magazine Luiza ON   367   -6  -1,61% NaN NaN
4 NaN      IRB Brasil ON   260   16  +6,56% NaN NaN
5 NaN              Oi ON    67    1  +1,52% NaN NaN
6 NaN             Weg ON  2599   46  +1,80% NaN NaN
-----------------------------
5
   Unnamed: 0                Nome  Último    Var%    Vol.  Unnamed: 5  \
0         NaN        Petrobras PN    3483  +1,93%  77,94M         NaN
1         NaN               B3 ON    1204  +1,95%  70,04M         NaN
2         NaN             Vale ON    8126  +1,77%  38,20M         NaN
3         NaN         Bradesco PN    1967  +1,34%  37,96M         NaN
4         NaN    Itau Unibanco PN    2513  +1,25%  37,77M         NaN
5         NaN         Petrorio ON    2548  +2,45%  27,41M         NaN
6         NaN  Banco do Brasil ON    3700  +3,64%  25,57M         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
-----------------------------
6
   Unnamed: 0                             Nome  Último     Var%    Vol.  \
0         NaN  FII Kinea II Real Estate Equity      90  +28,57%  16,40K
1         NaN           Getnet Adquirencia Prf     221  +24,16%   2,20M
2         NaN    Getnet Adquirencia e Servicos     222  +22,65%   2,12M
3         NaN           Getnet Adquirencia Unt     447  +22,47%   7,44M
4         NaN             Textil Renauxview PN     589  +17,80%   4,80K
5         NaN                       Sansuy PNB     349  +15,18%   0,50K
6         NaN                      Hercules PN     638  +10,00%   1,50K

   Unnamed: 5  Unnamed: 6
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
5         NaN         NaN
6         NaN         NaN
-----------------------------
7
   Unnamed: 0                           Nome  Último     Var%    Vol.  \
0         NaN               Ryanair Holdings    5225  -34,23%   0,06K
1         NaN                Ross Stores BDR   17470  -23,79%  21,08K
2         NaN  Hewlett Packard Enterprise Co    6699  -18,80%   0,10K
3         NaN                   Under Armour    4048  -18,06%   0,30K
4         NaN                        Gap BDR    5279  -15,18%   0,71K
5         NaN                     Deere & Co   76201  -14,63%   1,00K
6         NaN               Norfolk Southern   27721  -14,38%   1,00K

   Unnamed: 5  Unnamed: 6
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
5         NaN         NaN
6         NaN         NaN

In [6]:
df = pd.DataFrame(df[0])

In [7]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,1587,1603,1562,26,"+1,67%","9,23M",17:07:30,NaN
1,NaN,Alpargatas PN,2046,2117,1978,-28,"-1,35%","4,67M",17:07:40,NaN
2,NaN,Ambev ON,1402,1429,1383,-12,"-0,85%","24,50M",17:07:00,NaN
3,NaN,Banco do Brasil ON,3700,3702,3612,130,"+3,64%","25,57M",17:07:00,NaN
4,NaN,Bradesco ON,1629,1637,1609,31,"+1,94%","11,51M",17:07:43,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,3R Petroleum ON,4256,4337,4150,73,"+1,75%","2,23M",17:07:00,NaN
88,NaN,Rede D'Or ON,3404,3417,3288,102,"+3,09%","3,88M",17:07:00,NaN
89,NaN,CSN Mineração ON,461,470,455,16,"+3,60%","9,75M",17:07:00,NaN
90,NaN,Assaí ON,1596,1608,1549,51,"+3,30%","8,14M",17:07:00,NaN
91,NaN,Iguatemi Unt,2075,2136,2052,-3,"-0,14%","2,91M",17:07:00,NaN

In [8]:
df['Último'] = df['Último']/100
df['Mínima'] = df['Mínima']/100
df['Máxima'] = df['Máxima']/100

In [9]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,15.87,16.03,15.62,26,"+1,67%","9,23M",17:07:30,NaN
1,NaN,Alpargatas PN,20.46,21.17,19.78,-28,"-1,35%","4,67M",17:07:40,NaN
2,NaN,Ambev ON,14.02,14.29,13.83,-12,"-0,85%","24,50M",17:07:00,NaN
3,NaN,Banco do Brasil ON,37.00,37.02,36.12,130,"+3,64%","25,57M",17:07:00,NaN
4,NaN,Bradesco ON,16.29,16.37,16.09,31,"+1,94%","11,51M",17:07:43,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,3R Petroleum ON,42.56,43.37,41.50,73,"+1,75%","2,23M",17:07:00,NaN
88,NaN,Rede D'Or ON,34.04,34.17,32.88,102,"+3,09%","3,88M",17:07:00,NaN
89,NaN,CSN Mineração ON,4.61,4.70,4.55,16,"+3,60%","9,75M",17:07:00,NaN
90,NaN,Assaí ON,15.96,16.08,15.49,51,"+3,30%","8,14M",17:07:00,NaN
91,NaN,Iguatemi Unt,20.75,21.36,20.52,-3,"-0,14%","2,91M",17:07:00,NaN

In [24]:
#Deletando colunas sem utilidade:
df.drop(labels=['Unnamed: 0','Unnamed: 9'],axis = 1)

,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora
0,Rumo ON,15.87,16.03,15.62,26,"+1,67%","9,23M",17:07:30
1,Alpargatas PN,20.46,21.17,19.78,-28,"-1,35%","4,67M",17:07:40
2,Ambev ON,14.02,14.29,13.83,-12,"-0,85%","24,50M",17:07:00
3,Banco do Brasil ON,37.00,37.02,36.12,130,"+3,64%","25,57M",17:07:00
4,Bradesco ON,16.29,16.37,16.09,31,"+1,94%","11,51M",17:07:43
...,...,...,...,...,...,...,...,...
87,3R Petroleum ON,42.56,43.37,41.50,73,"+1,75%","2,23M",17:07:00
88,Rede D'Or ON,34.04,34.17,32.88,102,"+3,09%","3,88M",17:07:00
89,CSN Mineração ON,4.61,4.70,4.55,16,"+3,60%","9,75M",17:07:00
90,Assaí ON,15.96,16.08,15.49,51,"+3,30%","8,14M",17:07:00
91,Iguatemi Unt,20.75,21.36,20.52,-3,"-0,14%","2,91M",17:07:00